.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.list_request
{
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Define as colunas do grid */
    width: 100%;
    gap: 10px;
    max-width: 1045px;
      
}