.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.list_request
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1045px;
}